In [99]:
import pandas as pd
import numpy as np
import seaborn as sns

In [63]:
df = pd.read_csv('US Higher Education Value vs. Vulnerability - dataset.csv')

In [136]:
test_name = df['Institution Name'] == 'Stony Brook University'
df.loc[test_name]

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438 entries, 0 to 437
Data columns (total 30 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Institution Name                                    438 non-null    object
 1   Full Time Enrollment                                438 non-null    object
 2   State                                               438 non-null    object
 3   Rank                                                438 non-null    int64
 4   Rank Pct Rank                                       438 non-null    float64
 5   Undergraduate Admit Rate                            438 non-null    object
 6   Undergraduate Admit Rate Pct Rank                   438 non-null    float64
 7   Average Monthly Search Volume                       438 non-null    object
 8   Average Monthly Search Volume Pct Rank              438 non-null    float64
 9   Credential Score                                    438 non-null    float64
 10  Student Life Grade                                  438 non-null    object
 11  Student Life Score                                  438 non-null    float64
 12  Experience Score                                    438 non-null    float64
 13  15-Year NPV                                         438 non-null    object
 14  15-Year NPV PCT Rank                                438 non-null    float64
 15  30-Year NPV                                         438 non-null    object
 16  30-Year NPV PCT Rank                                438 non-null    float64
 17  Instructional Wages per Full-Time Student           438 non-null    object
 18  Instructional Wages per Full-Time Student PCT Rank  438 non-null    float64
 19  Eduation Score                                      438 non-null    float64
 20  Average Undergraduate Tuition and Fees              438 non-null    object
 21  Average Undergraduate Tuition & Fees Score          438 non-null    float64
 22  Values                                              438 non-null    float64
 23  Value-to-Cost Ratio                                 438 non-null    float64
 24  Endowment per Full Time Student                     438 non-null    object
 25  Endowment per Full Time Student Pct Rank            438 non-null    float64
 26  Percentage of International Students                438 non-null    object
 27  Percentage of International Students PCT Rank       438 non-null    float64
 28  Vulnerability Score                                 438 non-null    float64
 29  Prof G Categorization                               438 non-null    object
dtypes: float64(16), int64(1), object(13)
memory usage: 102.8+ KB

In [164]:
# df['Value\n(C x E x E)']
#df.rename(columns = {'Value\n(C x E x E)':'Values'}, inplace=True)
#df.drop('Ranking List',axis=1,inplace=True)
#df.melt(id_vars=['Institution Name'], value_vars=['Credential Score'])
#grouped = df.groupby('Prof G Categorization')

#counted_1 = df['Prof G Categorization'].value_counts()
#sns.barplot(x='Student Life Score', y='Prof G Categorization', data=df)

df['Average Undergraduate Tuition and Fees'] = df['Average Undergraduate Tuition and Fees'].str.strip('$')
df['Average Undergraduate Tuition and Fees'] = df['Average Undergraduate Tuition and Fees'].str.replace(',','').astype('float')

sns.barplot(x='')

0      38740.0
1      41160.0
2      45590.0
3      47540.0
4      48459.0
        ...
433    39500.0
434    43985.0
435    50530.0
436    53430.0
437    43500.0
Name: Average Undergraduate Tuition and Fees, Length: 438, dtype: float64

In [152]:
df['Full Time Enrollment'] = df['Full Time Enrollment'].str.replace(',', '').astype('float')